ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    width: 30rem;
  }
  
  li{
    display: flex;
    font-family: Arial, 'sans-serif';
    padding: 0.5rem;
    text-transform: uppercase;
    background-color: #161616;
    color: white;
  }
  
  li > div{
    flex: 80% 1 0;
  }
  
  .btn {
    flex: 20%;
    text-align: right;
    font-size: 0.7rem;
    cursor: pointer;
  }